@mixin padding-margin-reset(){
	margin: 0;
	padding: 0;
}

@mixin set-margin($size){ margin: $size; }

@mixin set-vertical-margin($size){
	margin-top: $size;
	margin-bottom: $size;
}

@mixin set-padding($size){ padding: $size; }

@mixin set-vertical-padding($size){
	padding-top: $size;
	padding-bottom: $size;
}

@mixin set-border-radius($radius){ border-radius: $radius; }

@mixin set-heading($size, $weight, $opacity){
	font-size: $size; 
	font-weight: $weight;
	opacity: $opacity; 
}

$primary-color: #EC0868;
$dark-color: #30323D;
$darker-color: #20222D;
$light-color: #E8E9EB;

$fonts: 'Oxygen', sans-serif;

body{
	@include padding-margin-reset();
	min-height: 100vh;
	background-color: $dark-color;
}

.link { text-decoration: none; }
.link:hover { opacity: 0.7; }

.cont{
	@include padding-margin-reset();

	h1{
		color: $darker-color;
		font-family: 'Nova Mono', $fonts;
		text-align: center;

		@include set-heading(4em, 300, 1)
		@include padding-margin-reset()
		@include set-vertical-padding(30px)
	}

	.projects{
		@include set-vertical-padding(15px)
		width: 50%;
		margin: 0 auto;
		display: flex;

		.bar{
			flex: 1;
			margin-right: 1.7%;
			background-color: $primary-color;
			display: inline-block;
		}

		.content{
			display: inline-block;
			width: 98%;
		}

		@media (max-width: 1100px) {
			.bar{ display: none; }

			.content{
				width: 90%;
				padding: 0 5%;
			}
		}
	}

	@media (max-width: 1100px) {
		.projects{ width: 100%; }
	}

	.project-desc{
		font-family: $fonts;
		color: $light-color;

		@include set-vertical-margin(10px)
		@include set-heading(1em, 300, 1)
	}

	h2{
		@include set-vertical-margin(5px)
		@include set-heading(1.25em, 400, 1)
		font-family: $fonts;

		.link{ color: $primary-color; }
	}
	
	.sub{
		@include set-heading(1em, 300, 1)
		@include padding-margin-reset()
	
		font-family: $fonts;
		color: $light-color;
		text-align: center;
		padding: 0 5%;
	}
}

.footer{
	@include set-vertical-padding(20px)

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	color: $primary-color;

	i{
		background-color: $darker-color;
		padding: 10px;
		border-radius: 50%;
		height: 1em;
		width: 1em;
	}
}
/* 	ICON FONT
 *	font icon pack in four line lol.... totes readable. */
@font-face { font-family: 'fontello'; src: url('../fonts/fontello.eot?37440344'); src: url('../fonts/fontello.eot?37440344#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2?37440344') format('woff2'), url('../fonts/fontello.woff?37440344') format('woff'), url('../fonts/fontello.ttf?37440344') format('truetype'), url('../fonts/fontello.svg?37440344#fontello') format('svg'); font-weight: normal; font-style: normal;}
@media screen and (-webkit-min-device-pixel-ratio:0) { @font-face { font-family: 'fontello'; src: url('../font/fontello.svg?37440344#fontello') format('svg');}}
[class^="i"]:before, [class*="i"]:before { font-family: "fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; text-align: center; /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; /* Font smoothing. That was taken from TWBS */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.i1:before { content: '\e800'; } /* '' */ .i5:before { content: '\e801'; } /* '' */ .i2:before { content: '\e802'; } /* '' */ .i6:before { content: '\e804'; } /* '' */ .i3:before { content: '\e807'; } /* '' */ .i9:before { content: '\e809'; } /* '' */ .i7:before { content: '\e80c'; } /* '' */ .i4:before { content: '\e811'; } /* '' */ .i8:before { content: '\e812'; } /* '' */
